* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
    box-shadow: 0px 1px 1px gray;
}

header {
    height: 273px;
    padding: 50px 50px 0;
    background: rgb(68, 81, 98);
}

.left-col {
    float: left;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

ul {
    width: fit-content;
    margin-left: 36px;
    margin-top: 22px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

li {
    list-style-image: url(icons/check%20icon.png);
}

.right-col {
    background-color: #ffffff;
    width: 469px;
    height: 214px;
    float: right;
}

section {
    padding: 50px 50px 0;
}

#about {
    height: 295px;
}

aside {
    background-color: #445161;
}

.about_media {
    width: 430px;
    height: 245px;
    float: right;
}

.about_desc {
    width: 649px;
    float: left;
}

h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 30px;
}

p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: -3px;
    margin-bottom: 20px;
    overflow: hidden;
}

#dignity {
    height: 368px;
    background-color: rgb(245, 245, 245);
    text-align: center;
}

.pluses,
.scrins_box,
.reviews_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.plus_item {
    width: 49%;
    margin-bottom: 5px;
}

.plus_icon {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 9px;
    background: #445161 url(icons/Layer%202.png) no-repeat center;
}

#scrinshots {
    height: 437px;
    text-align: center;
}

.scrin_item {
    width: 49%;
}

.scrin {
    width: 200px;
    height: 150px;
    background-color: #445161;
    float: left;
    margin-top: 5px;
    margin-right: 15px;
}

figcaption {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 15px;
}

#reviews {
    height: 374px;
    background-color: rgb(245, 245, 245);
    text-align: center;
}

.review {
    width: 49%;
    margin-bottom: 24px;
}

.rev_photo {
    border-radius: 50%;
    background-color: #445161;
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 16px;
}

.rev_text {
    width: 429px;
    border-radius: 7px;
    background-color: rgb(236, 236, 236);
    padding: 16px 27px;
    overflow: hidden;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    line-height: 18px;
    text-align: left;
}

blockquote {
    margin-bottom: 15px;
}

cite {
    color: #989898;
    font-size: 14px;
    font-style: normal;
    margin-top: 15px;
}